<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <a href="/">Home</a>
<a href="/dynamic">Dynamic</a>
    <h1>A random page</h1>
    <a href="/about">About</a>
    <a href="/contact.html">Contact</a> 

</body>
</html>