<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>

    <title>Secondary Page</title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
  <div>
    <p>Our 2nd Page using router</p>
  </div>
</body>
</html>